@model WPWI.Models.ViewModels.DashboardVM

<section>
    <div >
        <a class="float-right btn  btn-outline-info" asp-action="AddWedding" asp-controller="Wedding">
            Add Wedding
        </a>
       <table class="table table-dark table-hover table-bordered border-info text-info">
            <thead>
                <tr>
                    <th>Wedding</th>
                    <th>Date</th>
                    <th>Guests</th>
                    <th>Action</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var wedding in Model.WeddingsList)
                {
                    if(Model == null)
                    {
                        <h1>Nothing Here to show</h1>
                    }
                    else
                    {
                        <tr>
                            <td><a asp-action="ShowWedding" 
                                 asp-controller="Wedding" 
                                 asp-route-id="@wedding.WeddingId">@wedding.WedderOne & @wedding.WedderTwo </a></td>
                            <td>@wedding.WeddingDate</td>
                            <td>NoneYet</td>
                            @if(User.IsInRole("Planner") && User.FindFirst("id").Value == wedding.AppUser.Id) {
                              <td>RSVP/Can't Go</td>
                            }
                        </tr>
                    }
                }
            </tbody>
        </table>
    </div>
</section>
